*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/fondo-login.png);
    background-size: cover;
}


.olvidarpass{
   display: in;
   margin: 0;
   text-decoration: none;
   font-size: 12px;
   margin: 10px;
   padding: 0;
   
}


.container-form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}

.information{
   
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #00427B;
    background-image: -moz-linear-gradient(#00427B, #002D4B);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00427B), to(#002D4B));
    background-image: -webkit-linear-gradient(#00427B, #002D4B);
    background-image: -o-linear-gradient(#00427B, #002D4B);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs{
    width: 100%;
    padding: 0 30px;
}


 .info-childs h2{
    font-size: 2.5rem;
    color: #ececec;
 }

 .info-childs p{
    margin: 15px 0;
    color: #ececec;
}
 

 .info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #ececec;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ececec;
    cursor: pointer;
    transition: background-color .3 ease;
 }

 .info-childs input:hover{
    background-color: #ececec;
    border: none;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
 }


 .form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
 }

 .form-information-childs{
    padding: 0 30px;
 }

 .form-information-childs h2{
    color: #333;
    font-size: 2rem;
 }

 .form-information-childs p{
    color: #555;
 }

 .form{
    margin: 30px 0 0 0;
 }

 .form label, select{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
 }

 .form label input, select{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
 }

 .form label i{
    color: #a7a7a7;
 }

 .form input[type="submit"]{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 0px;
 }

 .form input[type="submit"]:hover{
    background-color: #fff;
    color: #333;
    border: solid 2px #333;
 }

 .form select{
    cursor: pointer;
 }


 .hide{
    position: absolute;
    transform: translateY(-500%);
 }





 /* FORMULARIO RESPONSIVO*/


 @media screen and (max-width: 780px) and ( orientation: landscape ) {
   body{
      font-size: 10px;
  }
}

 @media screen and (max-width:750px){
    html{
        font-size: 12px;
    }

    
    .container-form{
      padding: 0;
      height: auto;
      flex-direction: column;
  }

  .information{ 
      width: 100%;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;
  }

  .form-information{
      width: 100%;
      padding: 20px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 20px;
  }
 }

 @media screen and (max-width:580px){
    
    .container-form{
        padding: 0;
        height: auto;
        flex-direction: column;
    }

    .information{ 
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .form-information{
        width: 100%;
        padding: 20px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 20px;
    }
 }

 @media screen and (max-width: 200px){
   *{
      display: none;
   }
 }
